<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" th:classappend="${dashboardActive}" th:href="@{/admin/}">-->
<!--                <i class="bi bi-grid"></i>-->
<!--                <span>Dashboard</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Dashboard Nav &ndash;&gt;-->
        <li class="nav-item">
            <a class="nav-link"  th:classappend="${expenseListActive}"  th:href="@{/expense/list}">
                <i class="bi bi-list"></i>
                <span>List Expense</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${expenseAddActive}" th:href="@{/expense/add}">
                <i class="bi bi-newspaper"></i>
                <span>Add Expense</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:classappend="${incomeListActive}"  th:href="@{/income/list}">
                <i class="bi bi-list"></i>
                <span>List Income</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${incomeAddActive}" th:href="@{/income/add}">
                <i class="bi bi-newspaper"></i>
                <span>Add Income</span>
            </a>
        </li>



    </ul>
</aside><!-- End Sidebar-->
</html>