<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="navheading='ExpenseList' ,dashboardActive='collapsed',expenseListActive='collapsed',expenseAddActive='collapsed',incomeListActive='collapsed'">

<head>
    <title>Add Income - Expense Tracker</title>
    <style>
        .error-message {
            color: #DC3545;
            margin-top: 2px;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="pagetitle">
        <h1>Create Income </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">create income</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row ">
            <div class="col-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Income Form</h5>

                        <form th:action="@{/income/post}" method="post" th:object="${incomeForm}"
                              enctype="multipart/form-data" id="expenseForm">

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="income">Income</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Please Enter Income..."
                                           th:field="*{incomeName}" id="income">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="date">Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" placeholder="Please Enter date..."
                                           th:field="*{date}" id="date">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="amount">Amount</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Please Enter Amount..."
                                           th:field="*{amount}" id="amount">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="description">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px"
                                              placeholder="Please Enter Description.." id="description"
                                              th:field="*{description}"></textarea>
                                </div>
                            </div>

                            <div id="mediaTypeErrorMessage" class="text-danger"></div>
                            </fieldset>

                            <div class="row mb-3 mt-4" style="justify-content: end;">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success pull-right" id="publishButton">Submit</button>
                                    <button type="button" id="cancelButton" class="btn btn-danger pull-right">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="script">


    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('expenseForm');

            form.addEventListener('submit', function (event) {
                clearErrorMessages();
                validateField('item', 'Please enter  item', event);
                validateField('description', 'Please enter description', event);
                validateField('date', 'Please enter  date', event);
                validateField('amount', 'Please enter amount', event);
            });

            function clearErrorMessages() {
                document.querySelectorAll('.error-message').forEach(function (error) {
                    error.remove();
                });
            }


            function appendErrorMessage(fieldId, errorMessage, event) {
                const field = document.getElementById(fieldId);
                if (field) {
                    const errorMessageElement = document.createElement('p');
                    errorMessageElement.className = 'error-message';
                    errorMessageElement.textContent = errorMessage;
                    field.insertAdjacentElement('afterend', errorMessageElement);
                }
                event.preventDefault();
            }

            function validateField(fieldId, errorMessage, event) {
                const fieldValue = document.getElementById(fieldId).value.trim();

                if (fieldValue === '') {
                    appendErrorMessage(fieldId, errorMessage, event);
                }
                if (fieldId === 'url' && !isValidYouTubeUrl(fieldValue)) {
                    appendErrorMessage(fieldId, 'Please enter a valid YouTube URL', event);
                }
            }

            document.querySelectorAll('input, textarea, select').forEach(function (element) {
                element.addEventListener('change', function () {
                    const errorMessages = this.parentNode.querySelectorAll('.error-message');
                    errorMessages.forEach(function (error) {
                        error.remove();
                    });
                });
            });
        });


    </script>
</th:block>

</html>