<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    th:with="navheading='AddArticle' ,dashboardActive='collapsed',articleListActive='collapsed'">

<th:block layout:fragment="content">
    <div class="pagetitle">
        <h1>Edit Article</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">edit article</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Article</h5>

                        <form th:action="@{/article/update}" method="post" th:object="${articleForm}" id="articleForm" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="title">Title</label>
                                <div class="col-sm-10">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="text" class="form-control" placeholder="Please Enter Title..."
                                        th:field="*{title}" id="title">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="description">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px"
                                        placeholder="Please Enter Description.." id="description"
                                        th:field="*{description}"></textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select id="categorySelect" class="form-select" aria-label="Default select Category"
                                        th:field="*{category}">
                                        <th:block th:each="category: ${categoryOption}">
                                            <option th:value="${category.value}" th:text="${category.text}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Sub Category</label>
                                <div class="col-sm-10">
                                    <select id="subCategory" class="form-select" aria-label="Default select Subcategory"
                                        th:field="*{subCategory}">
                                        <th:block th:each="subCategory: ${subCategoryOptions}">
                                            <option th:value="${subCategory.value}" th:text="${subCategory.text}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0" th:field="*{mediaType}">Media Type</legend>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mediaType" th:value="T"
                                            id="gridRadios1" th:checked="${articleForm.mediaType == 'T'}">
                                        <label class="form-check-label" for="gridRadios1">
                                            Text
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mediaType" th:value="A"
                                            id="gridRadios2" th:checked="${articleForm.mediaType == 'A'}">
                                        <label class="form-check-label" for="gridRadios2">
                                            Audio
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mediaType" th:value="V"
                                            id="gridRadios3" th:checked="${articleForm.mediaType == 'V'}">
                                        <label class="form-check-label" for="gridRadios3">
                                            Video
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mediaType" th:value="I"
                                            id="gridRadios4" th:checked="${articleForm.mediaType == 'I'}">
                                        <label class="form-check-label" for="gridRadios4">
                                            Image
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="textLabel">Text Content</label>
                                <label class="col-sm-2 col-form-label" id="videoLabel">Video Link</label>
                                <label class="col-sm-2 col-form-label" id="fileLabel">File Upload</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Please Paste Your Url..."
                                           th:field="*{url}" id="url">
                                    <textarea class="form-control" style="height: 100px"
                                              placeholder="Enter Text Content..." id="textContent"
                                              th:field="*{textContent}"></textarea>
                                    <input class="form-control"  type="file" id="formFile" name="file">
                                    <input class="form-control" type="hidden" id="status" th:field="*{status}">
                                </div>
                            </div>

                            <div class="row mb-3 mt-4" style="justify-content: end;">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary pull-right" id="saveDraftButton">Save
                                        As Draft</button>
                                    <button type="submit" class="btn btn-success pull-right" id="publishButton">Save &
                                        Publish</button>
                                    <button type="button" id="cancelButton"
                                        class="btn btn-danger pull-right">Cancel</button>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const categorySelect = document.getElementById("categorySelect");
            const subCategorySelect = document.getElementById("subCategory");
            const articleCategory = "[[${articleForm.category}]]";
            const articleSubCategory = "[[${articleForm.subCategory}]]";
            const textRadio = document.getElementById('gridRadios1');
            const audioRadio = document.getElementById('gridRadios2');
            const videoRadio = document.getElementById('gridRadios3');
            const imageRadio = document.getElementById('gridRadios4');
            const textContent = document.getElementById('text-content');
            const mediaType = document.getElementById('formFile');

            for (let i = 0; i < categorySelect.options.length; i++) {
                if (categorySelect.options[i].value === articleCategory) {
                    categorySelect.options[i].selected = true;
                    break;
                }
            }

            subCategorySelect.innerHTML = "";

            if (articleCategory in subCategoryOptions) {
                subCategoryOptions[articleCategory].forEach((subCategory) => {
                    const optionElement = document.createElement("option");
                    optionElement.value = subCategory.value;
                    optionElement.textContent = subCategory.text;
                    subCategorySelect.appendChild(optionElement);
                });
            }

            for (let i = 0; i < subCategorySelect.options.length; i++) {
                if (subCategorySelect.options[i].value === articleSubCategory) {
                    subCategorySelect.options[i].selected = true;
                    break;
                }
            }

            $("#textLabel,#videoLabel,#fileLabel,#textContent, #url,#formFile").hide();

            textRadio.addEventListener('change', () => {
                $("#videoLabel,#fileLabel, #url,#formFile").hide();
                $("#textContent, #textLabel").show();
            });

            videoRadio.addEventListener('change', () => {
                $("#textContent,#fileLabel, #textLabel,#formFile").hide();
                $("#url, #videoLabel").show();
            });

            [audioRadio, imageRadio].forEach(radio => {
                radio.addEventListener('change', () => {
                    $("#textLabel,#videoLabel,#textContent,#url").hide();
                    $("#fileLabel,#formFile").show();
                });
            });

            if (textRadio.checked) {
                textRadio.dispatchEvent(new Event('change'));
            } else if (audioRadio.checked || imageRadio.checked) {
                [audioRadio, imageRadio].find(radio => radio.checked).dispatchEvent(new Event('change'));
            } else if (videoRadio.checked) {
                videoRadio.dispatchEvent(new Event('change'));
            }
        });
    </script>

    <script type="text/javascript">
        const categorySelect = document.getElementById("categorySelect");
        const subCategorySelect = document.getElementById("subCategory");
        const categoryOptions = [
            { value: "0", text: "Please Select Category..." },
            { value: "Kuthuba", text: "Kuthuba" },
            { value: "Kitab", text: "Kitab" },
            { value: "Ibadah", text: "Ibadah" },
            { value: "Purification", text: "Purification" },
            { value: "FamilySociety", text: "Family Society" },
            { value: "Biography", text: "Biography" },
            { value: "Others", text: "Others" },
        ];
        const subCategoryOptions = {
            "Kuthuba": [
                { value: "0", text: "Please Select Sub Category..." },
                { value: "Jummah", text: "Jummah" },
                { value: "Nikkah", text: "Nikkah" },
                { value: "Funeral", text: "Funeral" },
                { value: "Publiclecture", text: "Public Lecture" },
            ],
            "Kitab": [
                { value: "0", text: "Please Select Sub Category..." },
                { value: "Aqeedha", text: "Aqeedha" },
                { value: "Manhaj", text: "Manhaj" },
                { value: "Fiqh", text: "Fiqh" },
                { value: "Hadeeth", text: "Hadeeth" },
                { value: "Tafseer", text: "Tafseer" },
            ],
            "Ibadah": [
                { value: "0", text: "Please Select Sub Category..." },
                { value: "Prayer", text: "Prayer" },
                { value: "Zakath", text: "Zakath" },
                { value: "Hajj", text: "Hajj" },
                { value: "Umrah", text: "Umrah" },
                { value: "Fasting", text: "Fasting" },
                { value: "Dhikr", text: "Dhikr" },
            ],
            "Purification": [

                { value: "0", text: "Please Select Sub Category..." },
                { value: "Heart", text: "Heart" },
                { value: "Tawbah", text: "Tawbah" },
                { value: "Taqwa", text: "Taqwa" },
                { value: "Istigfar", text: "Istigfar" },
            ],
            "FamilySociety": [
                { value: "0", text: "Please Select Sub Category..." },
                { value: "Men", text: "Men" },
                { value: "Women", text: "Women" },
                { value: "Children", text: "Children" },
                { value: "Family", text: "Family" },
                { value: "Society", text: "Society" },
                { value: "Political", text: "Political" },
            ],
            "Biography": [
                { value: "0", text: "Please Select Sub Category..." },
                { value: "Prophets", text: "Prophets" },
                { value: "Sahabha", text: "Sahabha" },
                { value: "Ulama", text: "Ulama" },
            ],
            "Others": [
                { value: "others", text: "others" },
            ],

        };

        categoryOptions.forEach((option) => {
            const optionElement = document.createElement("option");
            optionElement.value = option.value;
            optionElement.textContent = option.text;
            categorySelect.appendChild(optionElement);
        });
        categorySelect.addEventListener("change", () => {
            const selectedCategoryValue = categorySelect.value;
            subCategorySelect.innerHTML = "";

            if (selectedCategoryValue in subCategoryOptions) {
                subCategoryOptions[selectedCategoryValue].forEach((option) => {
                    const optionElement = document.createElement("option");
                    optionElement.value = option.value;
                    optionElement.textContent = option.text;
                    subCategorySelect.appendChild(optionElement);
                });
            } else {
                const defaultOption = document.createElement("option");
                defaultOption.value = "";
                defaultOption.textContent = "Select Subcategory.";
                subCategorySelect.appendChild(defaultOption);
            }
        });

        categorySelect.dispatchEvent(new Event("change"));
    </script>

    <script type="text/javascript">
        const saveDraftButton = document.getElementById('saveDraftButton');
        const publishButton = document.getElementById('publishButton');
        const cancelButton = document.getElementById('cancelButton');

        cancelButton.addEventListener('click', function () {
            window.history.back();
        });
        saveDraftButton.addEventListener('click', function () {
            document.getElementById('status').value = "D";
            console.log(document.getElementById('title').value)
        });

        publishButton.addEventListener('click', function () {
            document.getElementById('status').value = "P";
        });
    </script>

</th:block>

</html>