<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    th:with="navheading='AddExpense' ,dashboardActive='collapsed',expenseListActive='collapsed',expenseAddActive='collapsed',incomeListActive='collapsed',incomeAddActive='collapsed'">

<head>
    <title>Report - Expense Tracker</title>
</head>

<body>
    <th:block layout:fragment="content">

        <div class="pagetitle">
            <h1>Report</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Report</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body pt-4">
                                    <form class="row g-3" th:action="@{/report/report}" method="get">
                                        <div class="col-md-3">
                                            <label for="from-date" class="form-label">From Date</label>
                                            <input type="date" class="form-control" id="from-date" name="fromDate" placeholder="Please Enter From date..." th:value="${fromDate}">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="to-date" class="form-label">To Date</label>
                                            <input type="date" class="form-control" id="to-date" name="toDate" placeholder="Please Enter To date..." th:value="${toDate}">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="filter-by-date" class="form-label">Filter By</label>
                                            <select class="form-select" id="filter-by-date" name="type">
                                                <option value="0" th:selected="${type == 0}">Select any one</option>
                                                <option value="1" th:selected="${type == 1}">Expense</option>
                                                <option value="2" th:selected="${type == 2}">Income</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 d-flex align-items-end">
                                            <button type="submit" class="btn btn-primary w-50"> <i class="bi bi-search"></i> Search </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-12">
                            <div class="card recent-sales overflow-auto">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${type == 1} ? 'Expense Report' : 'Income Report'">Report</span></h5>

                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">S.NO</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dailyReport, item : ${report}">
                                            <th scope="row" th:text="${item.index+1}"></th>
                                            <td th:text="${dailyReport.name}"></td>
                                            <td th:text="${dailyReport.date}"></td>
                                            <td th:text="${dailyReport.description}"></td>
                                            <td><span th:class="${dailyReport.type == 1} ? 'badge bg-danger' : 'badge bg-success'" th:text="${dailyReport.amount}"></span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>

</body>

</html>